{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stevany's Story</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            // Smooth scrolling effect
            $("#a-about").click(function () {
                $('html, body').animate({
                    scrollTop: $("#about").offset().top
                }, 800);
            });
            $("#a-portfolio").click(function () {
                $('html, body').animate({
                    scrollTop: $("#portfolio").offset().top
                }, 800);
            });
            $("#a-contact").click(function () {
                $('html, body').animate({
                    scrollTop: $("#contact").offset().top
                }, 800);
            });
        });
    </script>

</head>
<body>
{% include 'navbar.html' %}

<div class="background1">
    <div class="container1">
        <div class="title1">STEVANY</div>
        <div class="title2">UI/UX Designer & Web Developer</div>
        <div class="img_hany"><img src="{% static 'media/foto_hany.png' %}" alt="Foto Hany"></div>
    </div>
</div>

<div class="container3">
    <div id="about" class="title3"> JOURNEY</div>
    <hr class="separator1" align="center">
    <div class="webdev">
        <img class="imgjourney" src="{% static 'media/img1.png' %}">
        <div class="isijourney_kiri">
            <p class="juduljourney"> Web Design and Programming</p>
            <p class="keterangan"> Computer Science, University of Indonesia | Sep - Dec 2018</p>
            <p class="subjuduljourney"> Learn designing website with HTML5 and CSS. Understand and adjust the rules
                of interface design.
            </p>
        </div>
    </div>
    <div class="ruangguru">
        <div class="isijourney_kanan">
            <p class="juduljourney"> UI/UX Designer Internship, Ruangguru </p>
            <p class="keterangan"> Ruangguru, Tebet | Jun - Aug 2018 </p>
            <p class="subjuduljourney"> I start to learned principle of user interface and experience. I learned how
                to design attractive and useful mockup for mobile apps and website. The process of the design from
                analyze the problems, design wireframe, make prototype, and do user testing.
            </p>
        </div>
        <img class="imgjourney" src="{% static 'media/img2.png' %}">
    </div>
    <div class="visdes">
        <img class="imgjourney" src="{% static 'media/img3.png' %}">
        <div class="isijourney_kiri">
            <p class="juduljourney"> Visual Design Division, COMPFEST X </p>
            <p class="keterangan"> Computer Science, University of Indonesia | Feb - Sep 2018 </p>
            <p class="subjuduljourney"> Designing mockup for COMPFEST X’s website in a team. Designing banner, id
                card, que card, etc.
            </p>
        </div>
    </div>
    <div class="ristek">
        <div class="isijourney_kanan">
            <p class="juduljourney"> Digital Product Design Class, RISTEK </p>
            <p class="keterangan"> Computer Science, University of Indonesia | Oct 2018 </p>
            <p class="subjuduljourney"> First time know about user interface and user experience. I learn designing
                mockup for mobile apps with figma from digital product design senior members.
            </p>
        </div>
        <img class="imgjourney" src="{% static 'media/img4.png' %}">
    </div>
</div>

<div class="education">
    <div class="title4"> EDUCATION</div>
    <hr class="separator2" align="center">

    <div class="container5">
        <div class="contentbox education1">
            <p class="instansi"> SD Harapan Bunda</p>
            <p class="year"> 2005 - 2011</p>
        </div>
        <div class="contentbox education2">
            <p class="instansi"> SMPK 6 Penabur</p>
            <p class="year"> 2011 - 2014</p>
        </div>
        <div class="contentbox education3">
            <p class="instansi"> SMAK 6 Penabur</p>
            <p class="year"> 2014 - 2017</p>
        </div>
        <div class="contentbox education4">
            <p class="instansi"> University of Indonesia</p>
            <p class="year"> 2017 - Present</p>
        </div>
        <p class="quotes"> “Education is the passport to the future” </p>
    </div>
</div>

<div id="portfolio" class="background3">
    <div class="container6">
        <div class="title5"> PORTFOLIO</div>
        <hr class="separator3" align="center">
    </div>
    <div class="container7">
        <div class="kotak">
            <img class="fotokotak" src="{% static 'media/foto1.png' %}" alt="rabbit">
            <a class="penjelasan" href="https://www.behance.net/gallery/62792795/Rabbit-App-Redesign"
               target="_blank"> Rabbit App Design </a>
        </div>

        <div class="kotak">
            <img class="fotokotak" src="{% static 'media/foto2.png' %}" alt="kuyrus">
            <a class="penjelasan" href="https://www.behance.net/gallery/62825059/Kuyrus-Mobile-App" target="_blank">
                Kuyrus! Mobile App </a>
        </div>

        <div class="kotak">
            <img class="fotokotak" src="{% static 'media/foto3.png' %}" alt="lumina">
            <a class="penjelasan" href="https://www.behance.net/gallery/63072313/Lumina-Lighting-Redesign-Website"
               target="_blank"> Lumina Lighting Website Redesign </a>
        </div>
    </div>
</div>

<div id="contact" class="background4">
    <div class="container8">
        <div class="title6"> CONTACT</div>
        <hr class="separator4" align="center">
        <p class="email"> stevanysupardi@gmail.com </p>
        <p class="telp"> +62 878 890 70770</p>
    </div>
    <div class="container9">
        <a href="https://www.behance.net/stevanysup4144" target="_blank" class="button">BEHANCE</a>
        <a href="https://www.linkedin.com/in/stevany-supardi-4b8528151" target="_blank" class="button">LINKEDIN</a>
    </div>
</div>
</div>
</body>
</html>