.navbar-expand-sm .navbar-nav .nav-link {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.container1 {
    padding-top: 40px;

}

.background1 {
    padding-top: 56px;
    background: url("../media/background.png");
    background-size: cover;
    height: 640px;
}

.title1 {
    display: block;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    width: auto;
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313131;
}

.title2 {
    display: block;
    margin: auto;
    padding-top: 12px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    width: auto;
    font-size: 28px;
    font-weight: bolder;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #414141;
}

.img_hany {
    margin: auto;
    padding-top: 160px;
    width: 280px;
    height: 280px;
    object-fit: contain;
}

.container2 {
    padding-top: 80px;
}

.title3 {
    display: block;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    width: 152px;
    height: 45px;
    font-size: 36px;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313131;
}

.separator1 {
    width: 180px;
    height: 4px;
    background-color: #ff7676;
}

.container3 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin: 4rem auto 3rem;
    background-color: white;
    background-size: cover;
    height: auto;
    flex-wrap: wrap;
}

.isijourney_kiri {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 24px
}

.isijourney_kanan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 18px
}

.juduljourney {
    margin-bottom: 0.2rem;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #313131;
}

.keterangan {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #575757;
}

.subjuduljourney {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #313131;
}

.imgjourney {
    width: 120px;
    height: 120px;
}

.webdev {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 120px;
    margin: 3rem 0;
    align-items: center;
}

.ruangguru {
    display: flex;
    flex-direction: row;
    width: 740px;
    height: 140px;
    margin: 3rem 0;
    align-items: center;
}

.visdes {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 120px;
    margin: 3rem 0;
    align-items: center;
}

.ristek {
    display: flex;
    flex-direction: row;
    width: 740px;
    height: 140px;
    margin: 3rem 0;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .webdev {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: column;
        margin-bottom: 40%;
    }
    .visdes {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: column;
        margin-bottom: 50%;
    }

    .ruangguru, .ristek {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: column-reverse;
        margin-bottom: 55%;
    }

    .isijourney_kiri {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 0;
        margin-top: 0.5rem;
    }

    .isijourney_kanan {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-right: 0;
        margin-top: 0.5rem;
    }

    .juduljourney , .subjuduljourney, .keterangan {
        text-align: center;
    }

    .imgjourney {
        margin-bottom: 8px;
    }

    .navbar {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .navbar-toggler {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .instansi {
        height: auto;
    }

    .year {
        height: auto;
    }
}


.title4 {
    display: block;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 186px;
    height: 45px;
    font-size: 36px;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313131;
}

.separator2 {
    width: 200px;
    height: 4px;
    background-color: #ff7676;
}

.education {
    padding-top: 12px;
    background-color: #fafaff;
    background-size: cover;
    height: auto;
}

.container5 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 3rem;
    height: auto;
}

.instansi {
    height: 1rem;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    color: #313131;
    text-align: center;
}

.year {
    height: 1rem;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #313131;
    text-align: center;
}

.quotes {
    margin-top: 2rem;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #313131;
    text-align: center;
}

.contentbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 8px;
    width: 243px;
    height: 90px;
    margin-bottom: 1rem;
}

.contentbox.education1 {
    background-color: #F8D1DB;
}

.contentbox.education2 {
    background-color: #FDC2CE;
}

.contentbox.education3 {
    background-color: #FCAEB4;
}

.contentbox.education4 {
    background-color: #F99A9C;
}

.background3 {
    background: url("../media/background4.png");
    background-size: cover;
    height: auto;
}

.title5 {
    display: block;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 186px;
    height: 45px;
    font-size: 36px;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #FFFFFF;
}

.separator3 {
    width: 200px;
    height: 4px;
    background-color: #ffffff;
}

.kotak {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    width: 340px;
    height: 320px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
}

.fotokotak {
    margin-top: 1.3rem;
    width: 292px;
    height: 224px;
}

.penjelasan {
    padding-top: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #313131;
}

.penjelasan:hover {
    color: #ff7676;
    background-color: transparent;
    text-decoration: none;
}

.container7 {
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.background4 {
    background: url("../media/background5.png");
    background-size: cover;
    height: 440px;
}

.title6 {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 186px;
    height: 45px;
    font-size: 36px;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313131;
}

.separator4 {
    width: 180px;
    height: 4px;
    background-color: #ff7676;
}

.email {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    width: 293px;
    height: 31px;
    font-style: normal;
    color: #575757;
}

.telp {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 48px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    width: 293px;
    height: 31px;
    font-style: normal;
    color: #575757;
}

.container9 {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /*padding-left: 380px;*/
    /*padding-right: 380px;*/
}

.button {
    border-radius: 40px;
    background-color: #fafaff;
    border: solid;
    border-color: #FA9EA1;
    width: 280px;
    height: 56px;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    color: #313131;
    font-size: 24px;
    margin: 0.5rem 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #FA9EA1;
    color: white;
    text-decoration: none;
}

.cointainer_korea {
    margin-top: 80px;
    background: url("../media/background6.png");
    background-size: cover;
    height: 1073px;
}

.title7 {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 186px;
    height: 45px;
    font-size: 36px;
    font-weight: bolder;
    font-style: normal;
    color: #313131;
}

.separator5 {
    width: 180px;
    height: 4px;
    background-color: #ff7676;
}

.home_korea {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../media/background7.png");
    background-size: cover;
    height: 800px;
}

@media screen and (max-width: 767px) {
    .home_korea {
        background: url("../media/background_korea.png");
        background-repeat: no-repeat;
        height: 100%;
    }
}

.koreanworld {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    font-size: 144px;
    color: #5b1313;
}

@media screen and (max-width: 767px) {
    .koreanworld {
        font-size: 100px;
        margin: 7rem auto;
    }
}

.kotakputih {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 271px;
    height: 311px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
}

.fotokorea {
    margin-top: 1.3rem;
    width: 236px;
    height: 236px;
}

.text {
    padding-top: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #313131;
}

.content_korea {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin: 0 3rem;
}

.container_jadwalkegiatan {
    justify-content: center;
    margin-top: 48px;
    background: url("../media/background8.png");
    background-size: cover;
    height: 920px;
}

.title8 {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    width: auto;
    height: 45px;
    font-size: 36px;
    font-weight: bolder;
    font-style: normal;
    color: #313131;
}

.separator6 {
    width: 280px;
    height: 4px;
    margin: 1.5rem auto;
    background-color: #ff7676;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    width: 100%;

}

.kotakform {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
    padding: 3rem 4rem 2rem 3rem;
}

.form_data {
    display: flex;
    margin-top: 24px;
}

.form_data label {
    flex: 0.75;
}

.form_data input {
    flex: 2;
}

input[type=text] {
    border: 2px solid #ff7676;
    border-radius: 2px;
    width: 360px;
    height: 40px;
}

input[type=date] {
    border: 2px solid #ff7676;
    border-radius: 2px;
    width: 360px;
    height: 40px;
}


input[type=time] {
    border: 2px solid #ff7676;
    border-radius: 2px;
    width: 360px;
    height: 40px;
}

.subjudul {
    display: block;
    margin: auto;
    text-align: left;
    padding-bottom: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    font-style: normal;
    color: #313131;
}

.submitbutton {
    display: flex;
    justify-content: flex-end;
    margin : 2.25rem auto;
}

.submit {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 26px;
    background-color: #ffffff;
    border: solid 2.35px;
    border-color: #ff7676;
    width: 240px;
    height: 40px;
    padding: 3px 32px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: #313131;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.submit:hover {
    background-color: #ff7676;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.show {
    margin-top: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #313131;
}

.show:hover {
    color: #ff7676;
    background-color: transparent;
}

.separator7 {
    width: 260px;
    height: 4px;
    margin: 1.5rem auto;
    background-color: #ff7676;
}

.allActivities {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
    padding: 1rem 1rem;
    background-color: white;
    width : 400px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
}

.deleteall {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.deleteactivity {
    margin-top: 1rem;
    border: solid;
    border-color: #ff7676;
    border-radius: 16px;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ff7676;
    font-size: 20px;
    text-align: center;
    width: 200px;
}

.deleteactivity:hover {
    color: #ff7676;
    background-color: #ff7676;
    color: white;
}
