{% load static %}

<html lang="en">
<head>
    <head>
    <meta charset="UTF-8">
    <title>Stevany's Story</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
{% include "navbar.html" %}

<div class="container_jadwalkegiatan">
    <div class="judul">
        <div class="title8"> ALL ACTIVITIES </div>
        <hr class="separator7" align="center">
    </div>

    <form class="deleteall" action="/tampilkanaktivitas" method="POST">
        {% csrf_token %}
        <input class="deleteactivity" type="submit" value="Delete All Activity">
    </form>
    <div class="allActivities">
        {% for result in activity %}
        <div class="list">
            <p> Activity : {{ result.activities }}</p>
            <p> Date     : {{ result.date }}</p>
            <p> Time     : {{ result.time }}</p>
            <p> Location : {{ result.location }}</p>
            <p> Category : {{ result.category }}</p>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>