{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stevany's Story</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
{% include "navbar.html" %}
<div class="home_korea">
    <p class="koreanworld"> Korean World </p>
</div>

<div class="cointainer_korea">
    <div class="fashion">
        <div class="title7"> FASHION</div>
        <hr class="separator5" align="center">
    </div>

    <div class="content_korea">
        <div class="kotakputih">
            <img class="fotokorea" src="{% static 'media/fashion1.png' %}">
            <p class="text"> Korean Street </p>
        </div>
        <div class="kotakputih">
            <img class="fotokorea" src="{% static 'media/fashion2.png' %}">
            <p class="text"> Pink Vibes </p>
        </div>
        <div class="kotakputih">
            <img class="fotokorea" src="{% static 'media/fashion3.png' %}">
            <p class="text"> Grunge Chic Style </p>
        </div>
        <div class="kotakputih">
            <img class="fotokorea" src="{% static 'media/fashion4.png' %}">
            <p class="text"> Cute Pastel </p>
        </div>
    </div>

    <div class="drama">
        <div class="title7"> K - DRAMA</div>
        <hr class="separator5" align="center">
    </div>

    <div class="content_korea">
        <div class="kotakputih">
            <img class="fotokorea" src="{% static 'media/drama1.png' %}">
            <p class="text"> Oh My Venus </p>
        </div>
        <div class="kotakputih">
            <img class="fotokorea" src="{% static 'media/drama2.png' %}">
            <p class="text"> Another Miss Oh </p>
        </div>
        <div class="kotakputih">
            <img class="fotokorea" src="{% static 'media/drama3.png' %}">
            <p class="text"> Descendant of The Sun </p>
        </div>
        <div class="kotakputih">
            <img class="fotokorea" src="{% static 'media/drama4.png' %}">
            <p class="text"> Legend of The Blue Sea </p>
        </div>
    </div>
</div>

</body>
</html>