<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-left fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar -->
    <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a id="a-about" class="nav-link" href="{% url 'index' %}#about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a id="a-portfolio" class="nav-link" href="{% url 'index' %}#portfolio">PORTFOLIO</a>
            </li>
            <li class="nav-item">
                <a id="a-contact" class="nav-link" href="{% url 'index' %}#contact">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog' %}">BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'jadwalkegiatan' %}">ACTIVITY</a>
            </li>
        </ul>
    </div>
</nav>
